.nazwa {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  text-align: center;
  font-weight: 300;
}

.input_container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.input {
  width: 40%;
  padding: 7px 20px;
  box-shadow: 0 0 3px 0 #888;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.btn_zapisz {
  box-shadow: 0 0 3px 0 #888;
  padding: 0 3rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-weight: 400;
  font-size: 1.1rem;
}

.btn_zapisz:hover {
  box-shadow: 0 0 5px 0 #888;
  font-weight: 700;
}