.menu {
  /* background-color: blue; */
  height: 100vh;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 12px 3px;
  margin-right: 5px;
}

.menu_item>a>svg {
  margin: 15px 0;
  width: 36px;
  height: 36px;
}