.Poczekalnia {
  height: 100%;
  padding: 8px;
}

.Poczekalnia table {
  width: 100%;
  border-spacing: 0;
}

.Poczekalnia table thead tr td {
  border-bottom: 1px solid #ddd;
  padding: 3px 10px;
}

.Poczekalnia table tbody tr td {
  border-bottom: 1px solid #ddd;
  padding: 3px 10px;
}

.Poczekalnia table tbody tr:nth-child(odd) > td {
  background-color: #f3f3f3;
}

button {
}
